Message::get_source_nickname is not RFC 2812 compliant

[This line](https://github.com/aatxe/irc/blob/master/src/client/data/message.rs#L49) does not comply with [section 2.3.1 of RFC 2812](https://tools.ietf.org/html/rfc2812#section-2.3.1), which says that the ident and host are optional.

Also [section 2.3.1 of RFC 1459](https://tools.ietf.org/html/rfc1459#section-2.3.1).